<html>

<body>
    <h1 Style = "color: gray">
        Clasificador de Im&aacute;genes a trav&eacute;s de una CNN
    </h1>
    <p>A continuaci&oacute;n se presenta una red neuronal que clasifica im&aacute;genes de figuras geom&eacute;tricas. </p>
    <p>El d&iacute;a: {{momento_actual}}</p>  <!-- momento_actual.() minute/hour/day/month/year: para obtener el día  -->
    <p><strong>Elementos de prueba: </strong></p>
    <!-- <p>{{test}}</p>   muestra la lista completa, como un arreglo -->
    <p>
        <ul>
        {% for el_test in test %}

        <li>{{el_test}}.BMP</li>

        {% endfor %}
        </ul>
    </p>

    <form method="post" action="action.php">
        Ingrese Imagen de Test: <input name="ingresaimagen" type="imagen" value="Por favor, ingresa aqu&iacute" />
    </form>

    

</body>

</html>